/* .weather-screen {
    display: grid;
    place-items: center
}


.card {
    width: 250px;
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
} */













/* style of Weather Test screen */

/* .WT-screen-wraper .flex-data{
    display: flex;
}
.WT-screen-wraper .flex-data .centgrade-div{
    margin-left:20px;
}
.WT-screen-wraper .bold-tag{
    font-weight: bold;
    font-size: 30px;
}

.WT-screen-wraper{
 margin-top: 30px;
 
}
.center-loader{
    margin-top: auto;
    padding: auto;
}
.temp-number{
     margin-top: 10PX;
     font-size: 50px;
}
.img-alignment{
    
    margin-top: -15px;
}

.city-detail-style{
    margin-top: -8px;
    text-align: right;
} */