@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: white;
	color: white;
	display: flex;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	min-height: 100vh;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
	background-color: #243a6f;
	box-shadow: 0px 2px 10px #243a6f;
	padding: 20px;
	width: 350px;
	max-width: 100%;
	border-radius: 20px;
}

.result-container {
	background-color: whitesmoke ;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
	border-radius: 10px;
}

.result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
	color: #333;
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.result-container .btn i{
	color: #243a6f;
}

.btn {
	border: none;
	color: #243a6f;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: whitesmoke;
	border-radius: 5px;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

@media screen and (max-width: 400px) {
	.result-container {
		font-size: 14px;
	}
}

input[type="checkbox"] {
	width: 40px;
	height: 20px;
	-webkit-appearance: none;
	background-color: red;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 3.5px #BEBCBE;
	transition: 0.3s;
}

input:checked[type="checkbox"]{
	background-color: #00C853;
}

input[type="checkbox"]::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	background: whitesmoke;
	border-radius: 20px;
	box-shadow: 0 0 2px #BEBCBE;
	transition: 0.3s;
}

input:checked[type="checkbox"]::before{
	margin-left: 20px;
}

input[type="number"] {
	width: 50px;
	border-radius: 5px;
	border: none;
	text-align: center;
	height: 20px;
	font-size: 16px;
	font-weight: bolder;
	color: #243a6f;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}