
.WT-screen-wraper .flex-data{
    display: flex;
    flex-direction: row;
    
   
}
.temp-number{
    margin-top: -10px;
}
/* .WT-screen-wraper .flex-data .centgrade-div{
    margin-left:20px;
    margin-top: -10;
} */
.WT-screen-wraper .bold-tag{
    margin-top: 8px;
    font-weight: bold;
    font-size: 30px;
    color: #202124;
    font-size: 22px;
    line-height: 26px;
    justify-content: right;

}
.WT-screen-wraper .text-setting{
    color: #70757a;
    font-size: 16px;
    line-height: 20px;
    justify-content: right;
}
/* .Margin-bottom{
    margin-bottom:-15px;

} */
.WT-screen-wraper{
 margin-top: 30px;
 
}

.cf-style{
    margin: 10px;
   
}
.HPW-flex{
    display: flex;
    flex-direction: column;
    color: #70757a;
    font-size: 12px;
    margin-top: 10px;
}
.HPW-flex span{
 margin-right: 10px;
}

.center-loader{
    margin-top: auto;
    padding: auto;
}
.temp-number{
    margin-top: 2px;
     font-size: 50px;
}
.img-alignment{   
    margin-top: -15px;
}
/* .text-setting{
    text-align: right;
} */
.city-detail-style{
    display: flex;
    flex-direction: column;
    margin-top: -8px;
    text-align: right;
    text-align: right !important;
}

@media screen and (max-width: 700px) {
    .cf-style{
        margin-right: 30px;
        margin-top: 10px;

    }
    .city-detail-style{
       
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .city-detail-style > div{
        margin: 6px;
    }
    .WT-screen-wraper .text-setting{
        /* color: #70757a; */
        font-size: 15px;
        line-height: 20px;
        justify-content: right;
        margin-top: 9px;
        
    }
    /* .WT-screen-wraper .bold-tag{
        margin-top: 8px;
        font-weight: bold;
        font-size: 30px;
        color: #202124;
        font-size: 22px;
        line-height: 26px;
        justify-content: right;
    
    } */
    
    
    /* .media-mob{
    margin-top: 20px;
    } */
  }