//margin top
.u-margin-top-huge { margin-top: 10rem; }
.u-margin-top-large { margin-top: 8rem; }
.u-margin-top-medium { margin-top: 3.5rem; }
.u-margin-top-small { margin-top: 2rem; }
.u-margin-top-tiny { margin-top: 1rem; }


//margin bottom 
.u-margin-bottom-huge { margin-bottom: 10rem; }
.u-margin-bottom-large { margin-bottom: 8rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-tiny { margin-bottom: 1rem; }


//margin left 
.u-margin-left-huge { margin-left: 10rem; }
.u-margin-left-large { margin-left: 8rem; }
.u-margin-left-medium { margin-left: 4rem; }
.u-margin-left-small { margin-left: 2rem; }
.u-margin-left-tiny { margin-left: 1rem; }

.u-center 
{
    margin: 0 auto;
}

.round-img 
{
    border-radius: 5px;
}