.loader-wraper{
    padding: auto;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: auto;
    
  }
.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #131413;
  }