.foodie-nav-bg 
{
   background-color: white;
   box-shadow: 0 1rem 2rem rgba($color-black, .3);
      .nav-link 
   {
       color: black;
   }
}
.navbar 
{
    transition: all .3s;
    border-top: 3px solid $color-red-1;
}
.navbar .navbar-toggler .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234,32,39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.red-menu 
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234,32,39, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler {
    margin-right: 2rem;
    border-color: $color-red-1;
}

.logo 
{
    padding: 1rem;
    margin-left: 1rem; 
    margin-right: 2rem;
    width: 15rem;
}

button 
{
    &:focus
    {
        outline: none;
    }
}

.nav-link
{
    text-align: center;
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    padding: 1rem 10rem;
    margin: 0 2rem;
    transition: all .3s;
    &:hover 
    {
        color: $color-red-1;
    }
}

.active 
{
    font-weight: bold;
    border-bottom: 3px solid $color-red-1;
}

#collapsibleNavbar
{
    text-align: center;
}