.story 
{
    &__shape 
    {
       position: relative;
    }

    &__caption 
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        color: $color-white;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
        text-transform: uppercase;
    }

    &__text 
    {
        transform: skewX(12deg);
    }


    &__img 
    {
        backface-visibility: hidden;
        transition: all .5s;
    }

    &:hover &__caption 
    {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img 
    {
        transform: scale(1.2);
        filter: blur(3px) brightness(80%);
    }

}