.footer 
{
    background-color: black;
    padding: 15rem 0 10rem 0;
    text-align: center;

    &__rights 
    {
        text-align: center;
        color: white;
        font-size: 1.4rem;
        line-height: 3.5rem;
        span 
        {
            font-weight: bold;
        }
    }

    &__links 
    {
        margin-top: 8rem;
        .heading-tertiary 
        {
            color: $color-red-1;
        }
        ul 
        {
            margin-top: 2rem;
            list-style: none;
           li 
           {
               a 
               {
                   text-decoration: none;
                   color: white;
                   font-size: 1.5rem;
                   transition: all .3s;
                   &:hover 
                   {
                       color: $color-grey;
                   }
               }
           }
        }
    }

    &__copyrights
    {
        text-align: center;
        color: white;
        font-size: 1.4rem;
    }

    hr 
    {
        margin: 6rem 0;
        background-color: white;
        width: 100%;
    }

}

.social-icons 
{
    text-align: center;
    margin-top: 7rem;
    
    a 
    {
        padding: 2rem;
        i 
        {
            font-size: 3.5rem;
            color: white;
            transition: all .3s;
        }
        &:hover i 
        {
            color: $color-red-1;
        }
    }
}