@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
html{
  width: 100vw;
}
body {
  /* height: 100vh; */
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero {
  text-align: left;
  padding: 9em;
  padding-top: 3em;

}

.nav_container {
  background: black;
  }

.nav_container .header {
  display: grid;
  justify-content: space-around;
  height: 5em;
}

.nav_container .header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0 2em;
  list-style-type: none;
}
.nav_container .header nav ul a {
  text-decoration: none;
  padding: 0.25em;
  font-weight: 600;
  justify-content: space-around;
  color: rgb(121, 45, 221);
}
.nav_container .header nav ul a:hover {
  color: azure;
}
.nav_container .social-header {
  display: none;
}

.page {
  font-weight: 600;
 text-align: center;
  color: azure;
 }
 
.page p{
  color: azure !important;
}

.hero {
  margin: 0;
  padding-left: 1em;
  background: linear-gradient(black, #030961); 
  /* display: flex; */
}
.hero .page {
  font-weight: 600;
  font-size: small;
  color: azure;
}
.hero .content {
  color: azure;
  font-size: 15px;
  width: 65%;
  overflow: hidden;
 animation: scale_text 2s forwards ease-in;
}

@keyframes scale_text{
  0% { transform:translateX(100%)};
 100%{ transform:translateX(50%) };
}
.hero .content .intro {
  font-size: 3em;
  font-weight: 700;
  color: azure;
}
.hero .content .intro .intro-name {
  color: rgb(143, 13, 231);
  transform: 1s ease-in;
}

.featured {
  background: linear-gradient(#030961, black);
}

.featured .left .inner-transition2 {
  display: grid;
  margin: 1 em;
  width: 90%;
}

.featured .left .inner-transition2 .subtitle {
  text-transform: uppercase;
  text-decoration: underline;
  padding-left: 0.7em;
  font-weight: 500;
  font-size: 1.2em;
  color: azure;
  margin-top: 5em;
}
.featured .left .inner-transition2 .featured-title {
  text-decoration: none;
  text-align: center;
  color: rgb(143, 13, 231);
  font-weight: 700;
  font-size: 3em;
  margin: 0;
  padding-left: 0em;
}
.featured .left .inner-transition2 .featured-desc {
  text-align: center;
  color: #f1edeb;
  font-weight: 300;
  padding-left: 6em;
  text-align: end;
}
.featured .left .inner-transition2 .learn {
  align-items: center;
  padding-left: 7em;
}
.featured .left .inner-transition2 .learn button {
  background-color: rgb(143, 13, 231);
  font-family: "Poppins";
  width: 7em;
  height: 3em;
  border-radius: 2em;
  cursor: pointer;
}
.featured .left .inner-transition2 .learn button:hover {
  background-color: rgba(144, 13, 231, 0.813);
}
.featured .right {
  display: flex;
  width: 40%;
  height: 30%;
  margin: 1.7em;
  margin-right: 0;
  border-radius: 5em;
  box-shadow: 2px 2px 10px 0 grey;
}

.which_skills {
  font-size: small;
}


/* ///////////////////////TEXT-TYPING///////////// */
.text-typing {
  font-family:'Poppins';
  text-align: center;
}

  .text-typing p {
    margin: 2em 0;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  width:fit-content;
  color: rgb(12, 63, 105);
  display: inline-block;
  padding: 0%;
  /* white-space:nowrap; */
  overflow:hidden;
  animation:typing 8s steps(14, end) forwards infinite,
              blink 1s infinite;
  }
  @keyframes typing {
  0% { width:0% }
  36%{width: 36%}
  }
  @keyframes blink {
  0%,100% {
      border-right:2px solid transparent;
  }
  50% {
      border-right:2px solid black;
  }
  }
  .c p{
    animation:typingc 8s steps(14, end) forwards infinite,
  }
  @keyframes typingc {
  0% { width:0% }
  50%{width: 50%}
  }
  


  




@media only screen and (min-width: 900px) {
  .hero {
    display: flex;
    flex-direction: row;
    grid-template-columns: 60% 50%;
    text-align: left;
    padding: 9em;
    padding-top: 3em;
  }
  
  .hero .content {
    color: azure;
    font-size: 17px;
  }
  .hero .content .intro {
    font-size: 4.5em;
    font-weight: 700;
    color: azure;
  }
  .hero .content .intro .intro-name {
    color: rgb(143, 13, 231);
  }
  .featured {
    padding: 3em;
    background: linear-gradient(#030961, black);
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .featured .left .inner-transition2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin: 1 em;
    width: 90%;
  }
  .featured .left .inner-transition2 .subtitle {
    text-transform: uppercase;
    -webkit-text-decoration: double;
            text-decoration: double;
    letter-spacing: 0.5em;
    padding-left: 0.7em;
    font-weight: 500;
    font-size: 1.4em;
    color: azure;
    margin-top: 5em;
  }
  .featured .left .inner-transition2 .featured-title {
    text-decoration: none;
    text-align: left;
    color: rgb(143, 13, 231);
    font-weight: 700;
    font-size: 3.5em;
    margin: 0;
  }
  .featured .left .inner-transition2 .featured-desc {
    text-align: center;
    color: #f1edeb;
    font-weight: 300;
    padding-left: 1em;
    text-align: left;
  }
  .featured .left .inner-transition2 .learn {
    align-items: center;
    padding-left: 7em;
  }
  .featured .right {
    display: flex;
    width: 90%;
    height: 80%;
    padding: 1.7em;
    border-radius: 5em;
    box-shadow: 2px 2px 10px 0 grey;
    transition: transform 500ms ease-out;
  }
  .featured .right:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px 2px grey;
  }
  .which_skills {
    font-size: small;
    padding: 6em;
  }


/* /////////////SNOW ANIMATION//////////////// */

.snow_hero {
  background-image: linear-gradient( #ffffff , #42b6eb );
  min-height: 100vh;
  min-height: 30rem;
  position: relative;
  z-index: -2;
  


  justify-content: center;
  align-content: center;
}
.snow_hero .content {
  position: relative;
  align-self: center;
  padding: 3rem 0;
}

.snow {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
 
}

.snow .svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#snow-top-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 22.5s infinite linear;
          animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
  will-change: transform;
  transform: translateY(-768px);
  -webkit-animation: fall 45s infinite linear;
          animation: fall 45s infinite linear;
}

@-webkit-keyframes fall {
  100% {
    transform: translateY(0);
  }
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.skill{
   z-index: 1;
}
  .skill .container {
    width: 95%; /* Full width */
    background-color: rgb(252, 251, 251); /* Grey background */
    border-radius: 2em 2em;
  }

  .skills .css{
    border-radius: 2em 2em 2em 2em;
  }
.heading{
    font-size: xx-large;
    color: white;
    text-align: center;
    margin: 4%;
}

.sk{
  padding: 2% 10%;
}
.sk p{
  margin: 1%;
  font-family: 'Poppins';
  font-weight: 600;
  color: #030961;
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.sk:hover {
  transform: scale(1.05);
}
.html {width: 90%; background-color:rgb(9, 87, 126); border-radius: 2em; padding-right: 2em;} 
.css {width: 80%; background-color: rgb(9, 87, 126);border-radius: 2em; padding-right: 2em;}
.js {width: 65%; background-color: rgb(9, 87, 126);border-radius: 2em;padding-right: 2em;} 
.php {width: 60%; background-color: rgb(9, 87, 126);border-radius: 2em;padding-right: 2em;}

  

/* ////////PROJECTT//////////// */
  .projects{
    background-image: linear-gradient(to bottom left, #42b6eb, #ffffff);
  }
  .grid { 
    padding: 3% 10%;
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 20px;
    align-items: center;
    
    }
  .grid > article {
    background-color: azure;
    border-radius: 2em;
    display: inline-block;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 12px 0px  rgba(190, 179, 179, 0.749)
  }
  .grid > article img {
    border-radius: 2em;
    max-width: 100%;
  }.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    position: relative;
    bottom: 0;
  }
  .text > button {
    border-radius: 2em;
    background: rgb(147, 85, 157);
    border: 0;
    color: white;
    padding: 10px;
    
    width: 50%;
    }

    /* //////////CONTACT/////// */
    .contact .text-typing{
      font-size: .7em;

    }
  .contact  {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  div.cot>p{
    height: 100%;
  }

  .contact {
    background: linear-gradient(to bottom right,  rgb(176, 176, 241), white);
    margin: 0;
    display: grid;
    padding: 1.2em;
  }
  .contact .contact_info {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}