$color-black: #000;
$color-white: #fff;

$color-grey: rgb(92, 92, 92);
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-darkGrey: rgb(27,27,27);
$color-grey-light-3: #999;
$color-grey-dark: #181717;

$color-red: #d63031;
$color-red-1: #EA2027;